/* Layout (Torrents page) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://use.fontawesome.com/9d87e7f72b.css');
@import url('https://dl.dropbox.com/s/529i1qfuw41endk/cats.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
/* Global */

* {
	padding: 0em;
	margin: 0em;
}

html {
	font-size: 13px;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
	background: #3C4452;
	color: #b4b4b4/*rgba(255,255,255,0.7)*/;
}

/* Common elements */

a {
	color: #e4e4e4 /*rgba(255,255,255,.3)*/;
	text-decoration: none;
}

a:hover {
	color: rgba(255,255,255,1);
	text-decoration: none;
}

a[title="View User Torrent"]{
	color: #4CAF50 !important;
}

a[title="View User Torrent"]:before {
	content:"\f234";
	color: #fff;
	position: relative;
    margin: 0 5px 0 0;
	display: inline-block;
	font-family: "FontAwesome";
	font-size: larger;
}

h1,h2,h3,h4 {
    font-weight: 300;
    line-height: 1.1;
	/*margin: 8px 0;*/
}
h1 a,h2 a,h3 a,h4 a {
    font-weight: inherit
}

p {
}

li {
    /* padding: 5px 10px; */
	list-style-type: none;
}

img {
	border: none;
}


/* Ratio Colors */

.r00 { color: #e94047; }
.r01 { color: #e94047; }
.r02 { color: #e94047; }
.r03 { color: #e94047; }
.r04 { color: #e94047; }
.r05 { color: #e94047; }
.r06 { color: #eb7e7f; }
.r07 { color: #eb7e7f; }
.r08 { color: #eb7e7f; }
.r09 { color: #eb7e7f; }
.r10 { color: #50a64d; }
.r20 { color: #5cbe58; }
.r50 { color: #67d663; }
.r99 { color: #73ee6e; }

/* Styles generated by the BBCode parser */

span.size1 {
	font-size: 0.75em;
}

span.size2 {
	font-size: 1em;
}

span.size3 {
	font-size: 1.25em;
}

span.size4 {
	font-size: 1.5em;
}

span.size5 {
	font-size: 1.75em;
}

span.size6 {
	font-size: 2em;
}

span.size7 {
	font-size: 2.25em;
}

span.size8 {
	font-size: 2.5em;
}

span.size9 {
	font-size: 2.75em;
}

span.size10 {
	font-size: 3em;
}

ul.thin {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}

 /* Warning Errors */
.invalid, .warning, .error, .new {
    color: #D32F2F;
}

/* Layout (Every page) */

#wrapper {
	width: 960px;
	margin: 0 auto;
}
#content {
	padding: 30px 0;
    word-wrap: break-word;
}


#content > .thin > h1,
#content > .thin > h2,
#content > .thin > h3,
#content > .thin > .header > h1,
#content > .thin > .header > h2,
#content > .thin > .header > h3 {
	margin-bottom: .5em;
}

.linkbox {
    margin: 15px;
/* text-align: right; */
}

.linkbox .brackets {
	margin-left: 10px;
}
/*#forums .linkbox .center {
	text-align: right;
}*/

#searchthread > div > form {
	text-align: center
}


.linkbox a { color: #F9F9F9; background:none; border: 0px solid #3E4649; border-radius: 0px; }
.linkbox a:hover { text-decoration: none; }
.pager { color: transparent; margin: 1rem 0; }

.pager a strong { color: rgba(255,255,255,0.75);}
.pager strong {	color: rgba(238, 110, 115, 1); }
/*Pager-End*/

/* userinfo start */
#userinfo{
	z-index: 3;
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#userinfo *{text-transform:uppercase}
#userinfo, #userinfo a{/*color: rgba(255,255,255,0.3);*/}
#userinfo, #userinfo a:hover{/*color: #fff;*/}
#userinfo ul{position: relative;list-style:none;margin:8px 0 0;padding:0;z-index:2;}
#userinfo ul li{z-index:2}
#userinfo ul li a{z-index:2; position:relative}



#userinfo_username:hover, #userinfo_major:hover, #userinfo_minor:hover, #userinfo_stats:hover{
	background: rgba(24, 32, 41, 0.3);}
#userinfo_username li a, #userinfo_major li a, #userinfo_minor li a, #userinfo_stats li {display:block; padding:3px;}
#userinfo_username li:hover, #userinfo_major li:hover, #userinfo_minor li:hover, #userinfo_stats li:hover {
	background: rgba(24, 32, 41, 0.3);
}
#userinfo_major:hover li, #userinfo_minor:hover li {display:block}
#userinfo_major li, #userinfo_minor li {display:none; margin-bottom:2px; padding-left:2px}
#userinfo_major li:last-child, #userinfo_minor li:last-child{margin-bottom:0}
#userinfo_major li:first-child, #userinfo_minor li:first-child{display:block}


#userinfo_stats:hover li {display:block}
#userinfo_stats li {display:none; margin-bottom:2px; padding-left:2px}
#userinfo_stats li:last-child {margin-bottom:0}
#userinfo_stats li:first-child {display:block}


#userinfo_username{width: 160px; right: 0; float: right;}
#userinfo_username .brackets{display:none}
#userinfo_username:hover .brackets{display:block}
#userinfo_username li{margin-bottom:2px; padding-left:2px}
#userinfo_username li:last-child{margin-bottom:0}


#userinfo_minor{width: 160px;right:0;float: right;text-align: right;}

#userinfo_major{width: 160px;right:0;float: right;}
#userinfo_major .brackets strong{font-weight:normal}

#userinfo_stats{width: 160px;right:0;float: right; text-align: right;}
#userinfo_stats li{    /* float: right; */
    /* margin-left: 5px; */
    width: 155px;
    position: relative;
    /* top: 1px; */
    /* z-index: 1 !important; */}
#userinfo_stats *{padding:1px 0.5px}
#userinfo_stats .stat,#userinfo_stats .stat a{/*color: rgba(255,255,255,0.3);*/}
#userinfo_stats .stat:hover,#userinfo_stats .stat a:hover{/*color: rgba(255,255,255,1);*/}

/*#nav_donate a, #nav_comments a, #nav_uploaded a, #nav_subscriptions a,*/

#disclaimer_container {
	display: none;
}

#nav_globalinvite a {
	    /*color: rgba(255,255,255,0.8) !important;*/
}

.brackets:before {
	content: "";
}

.brackets:after {
	 content: "";
}

#footer {
	text-align: center;
	padding: 20px 0;
}

#footer p {
}

#logo {
	background: url('https://dl.dropbox.com/s/jaannv42uq6z9cv/logo.svg') no-repeat center;
	width: 85px;
	height: 85px;
	margin: 10px auto;
}

#logo a {
    display: block;
    width: 85px;
    height: 85px;
}

#logo a:hover {
	border: none;
}

#donation-outer {
    display: block;
    height: 74px;
    width: 74px;
    border-radius: 50%;
    border: 0px solid #fff;
    overflow: hidden;
    position: absolute;
    top: 56px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}

#donation-inner {
	display: block;
	height: 73px;
	background: rgba(238, 110, 115, 1);
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 100;
}

#donation-link {
	position: relative;
	top: -4px;
	font-size: smaller;
}

#donation-link a {
	display: block;
    text-align: center;
    margin: 10px auto;
    width: 100px;
}


#menu {
    background: none/*rgba(0, 0, 0, .08)*/;
    text-align: center;
    padding: 8px;
    position: relative;
}

#menu ul {

}
#menu ul li {
	display: inline-block;
    vertical-align: top;
}

#menu ul li:hover {
}

#menu ul li a {
	text-transform: uppercase;
    padding: 18px 12px;
    display: block;
	/*color: rgba(255, 255, 255, .3);*/
}

#menu ul li a:hover {
	 /*color:rgba(255, 255, 255, 1);*/
}

#alerts {
    text-align: center;
    padding: 10px 0px;
	margin-top: 10px;
    position: relative;
}

.alertbar, .alertbar.blend {
    text-shadow: none;
    margin-right: 5px;
    background: none;
    text-align: center;
    font-weight: bold;
    font-size: 0.95em;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
}

.alertbar {
    /*color: #fff;*/
	position: relative;
    margin: 0;
	display: inline-block;
	margin: 0 10px 0 0;
	background: none;
	padding: 4px;
	border: 0px solid rgba(255,255,255,0.5);
	border-radius: .245em;
    background: none;
	min-width: 3rem;
    padding: 0 6px;
    font-size: 1rem;
	font-weight: normal;
    line-height: 22px;
    height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.alertbar a {
	color: #fff;
}

.alertbar a:hover {

}

.clearfix {
    clear: both;
}

/*#searchbars:before {
    content: "\f002";
    position: absolute;
    font-family: Fontawesome;
    background: none;
    left: 60px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    top: 10px;
}*/

#searchbars {
	text-align: center;
	background: none;
	padding: 10px;
	position: relative;
}

#searchbars input:focus {
	/*background: #353C48;*/
}

#searchbars ul {
	margin: 0 auto;
	display: block;
}


#searchbars ul li {
	display: inline;
	margin: 0px 1px;
	list-style: none;
	position: relative;
}

#searchbars ul li ul {
	display: block;
	width: 12em;
	margin-top: 12px;
}

#searchbars ul li ul li {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	background: #303030;
}

#searchbars ul li ul li.highlight {
	background: #454545;
}

#searchbars ul li form {
	display: inline;
}

#cat-selector ul {

}

#cat-selector ul li {

}

.hidden {
	display: none;
}

input.hidden {
}


select {
}

input[type="button"], input[type="submit"] {
    background: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
    /*color: rgb(255, 255, 255);*/
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
    cursor: pointer;
    padding: 4pt 6pt;
    margin: 5px;
}

/* Layout (Any page) */

.thin {margin: 0 auto;}

.widethin { /* overriding the thin class on torrents.php */

}

.content_basiccontainer {
}

#userinfo_major .brackets:before {

}

#userinfo_major .brackets:after {

}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.min_padding {

}

p.min_padding {

}

.pad {
	padding: 12px;
}

.sidebar .pad {
}

#index .sidebar .pad {
}

.vertical_space {
}

.box {
    background: #353C48;
    margin-bottom: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 1rem;
}

.box2 {
	background: #353C48;
    margin-bottom: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 1rem;
}

.box_seedbox {
}
.box_renew {
}
.renew_methods {
}
.renew_methods h1 {
}
.renew_methods h1 span {
}
.renew_options {
}

.pad h3,.pad h4,.padbox h3,.padbox h4 {
}

.sidebar {
	float: right;
	width: 260px;
	/*padding: 10px;*/
}

.sidebar .box {
}

.head, .colhead, .colhead_dark {
	padding: 10px;
	margin: 0;
    /*line-height: 2em;
    font-size: 1.2em;*/
	color: #eb7e7f;
}

.head a {
}

#torrent_table > tbody > tr > td:nth-child(7) {
    color: #4CAF50;
}
#torrent_table > tbody > tr > td:nth-child(8) {
    color: #F44336;
}

.box table {
	background: none;
}

.head > span.time, .head > span > a.brackets {
	font-size: 12px;
	font-weight: 400;
    line-height: 160%;
    /*color: rgba(255, 255, 255, .3);*/
}

.body {
}

.box .body {
}

.main_column {
    width: 695px;
    /*padding: 10px;*/
}

.main_column .box,.main_column table {
}

#recent_snatches tr {
}

span.last_poster {
    display: block;
    /* float: none; */
    text-align: left;
    width: 100%;
}

.tags {
}

.tags a {
}

.tags a:hover {
}

.noborder {
	border: none;
}

#index  ul.stats.nobullet {
}

#index  ul.stats.nobullet a {
}
#poll {}


ul.nobullet {
	list-style-type: none;
}

div.hr {
}

hr.perms {
}

#ft_container {
}

table {
	width: 100%;
    border-collapse: collapse;
	border: 0px solid #fff;
	background: rgba(24, 32, 41, 0.3);
    margin-bottom: 30px;
	padding: 2rem;
}

table tr {
	/*text-align: center;*/
}

h4.min_padding {
	text-align: left;
	padding: 0 0 0 7px;
}

tr {
}

tr.rowa {
}

tr.rowb {
}

td, th {
	padding: 7px;
}

#index .head, #index .colhead {
}
#index .colhead_dark a {

}

.colhead {
}

.colhead a {
}

td.colhead,.colhead td, .colhead th {
    padding: 12px;
}

.colhead .sign {
}

.colhead_dark {
}

.colhead_dark a {

}

td.label {
}

table.slice {

}

.error_message {
}

.save_message {
}

.elem_error {
}

.hidden {
	display: none;
}

/* Layout (home page) */

ul.stats li {
    padding: 5px 0px;
    margin: 0px 10px;
}

.poll {
	
}

.poll li {
    margin: .3em;
	padding: 0;
}

.poll .graph {

}
.poll .graph span {

}

ul.poll li {

}

ul.poll li.graph {

}

ul.poll {

}

.center_poll {
    background: rgba(238, 110, 115, 1);
    height: 4px;
    display: block;
    margin: 4px;
}

/* Layout (Torrents page) */

/*Torrent table misc*/


#torrent_table > tbody > tr > td:nth-child(3) {
	/*Hide files column*/
	display: none;
}

#torrent_table > tbody > tr.colhead > td:nth-child(3) {
	font-size: 0;
}

#torrent_table > tbody > tr.colhead > td:nth-child(3):before {
	/*Files*/
	content:"\f15b";
}

#torrent_table > tbody > tr.colhead > td:nth-child(4) a {
	font-size: 0;
}

#torrent_table > tbody > tr.colhead > td:nth-child(4) a:before {
	/*Time*/
	content:"\f017";
}

#torrent_table > tbody > tr.colhead > td:nth-child(5) a {
    font-size: 0;
}

#torrent_table > tbody > tr.colhead > td:nth-child(5) a:before {
	/*size*/
	content:"\f0b2";
}

#torrent_table > tbody > tr.colhead > td:nth-child(3):before,
#torrent_table > tbody > tr.colhead > td:nth-child(4) a:before,
#torrent_table > tbody > tr.colhead > td:nth-child(5) a:before {
    font-family: Fontawesome;
    margin: 0;
    font-size: 18px;
	color: #fff;
}
/*
 *
 *
img[alt="Snatches"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://dl.dropbox.com/s/jaannv42uq6z9cv/logo.svg) no-repeat;
    width: 20px;
    height: 20px;
    padding-left: 20px;
}

img[title="Seeders"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://dl.dropbox.com/s/qqgv48akcvtgace/download-arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    padding-left: 20px;
}

img[alt="Leechers"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://dl.dropbox.com/s/qqgv48akcvtgace/download-arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    padding-left: 20px;
}
*
*
*/

img[alt="TvHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/inzknvz13qvzpfd/hdtv.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="TvSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/qyo09qxd9o29ms9/sdtv.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="TvDVDRip"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/e20buhxzab65bo6/tvdvd.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="TvPackSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/miyrpey66uuf1i1/sdtvpack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="TvPackHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/0t2wquv3fr6ivgs/hdtv_pack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="MovieSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/orxipmikhmctonx/sdmovies.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="MovieHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/yn542nxitgviw1k/hdmovies.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="MoviePackSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/cig77epbcitqe8z/sd_movie_pack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="MoviePackHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/3fwb1yjcvms7y18/hd_movie_pack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="MovieXXX"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/6sykmzv3de37ng6/xxxmovies.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="GamesPC"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/yxslltjv3fp99be/pcgames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="GamesxBox"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/ndagptrmam6z6he/xbgames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="GamesPS3"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/vnl5i9rb962hz12/psgames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="GamesWii"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/tuul8jhozb7y7e1/wiigames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="AppsPC"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/3kynx6apv4mt0y5/windows.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="AppsMAC"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/nca3vu4vw6y936i/mac.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="AppsLinux"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/7s4v5rrpx7lz6ql/linux.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="AppsMobile"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/el67t6l8znyje49/mobile.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="0dayXXX"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/xa94u0bd26iefah/0dayxxx.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="eBook"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/trdp67qrb22dijw/books.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="AudioBook"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/35f2q8hnlmcgh27/audiobooks.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="Misc"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/1i682govxkptdh0/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="Music"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/1i682govxkptdh0/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}

img[alt="MviD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/fvazs215gzdr7vd/mvid.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
}




















img[alt="Default avatar"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://dl.dropbox.com/s/khkyy5vk0uthc57/defaultavatar.png') no-repeat;
    width: 150px;
    height: 150px;
    padding-left: 150px;
}

.show_torrents {

}

.hide_torrents {

}

.show_torrents_link {

}

.filter_torrents {

}

.filter_torrents .submit {

text-align:  right;
}

#content form.search_form + .torrent_table {

}

form {
	
}

.cat_list tr td {
	text-align: left;

}
table.layout.cat_list.ft_cat_list tr {

}

#ft_container table tr {
	text-align: left;	
}

.torrent_table tr {

}

.colhead .sign, .colhead_dark .sign {

}

/*.torrent_table tr.group, tr.group_torrent, tr.torrent {
	background-color: #222;
}*/

.torrent_table div.tags {
}

.torrent_table tr .center {
}

#torrent_table > tbody > tr.colhead > td:nth-child(n+3),
#torrent_table > tbody > tr > td:nth-child(n+3),
.forum_index > tbody > tr > td:nth-child(n+3),
#request_table > tbody > tr.colhead_dark > td:nth-child(n+2),
#request_table > tbody > tr > td:nth-child(n+2) {
	text-align: center;
}

.forum_index > tbody > tr.colhead > td:nth-child(3) {
	text-align: center;
}

strong.torrent_label.tl_free,
strong.torrent_label.tl_notice,
strong.torrent_label.tl_notice,
strong.torrent_label.tl_scene,
strong.torrent_label.tl_timed,
strong.torrent_label.tl_expired {
	color: #fff;
}


strong.important_text {
    color:#e94047;
    font-weight: bold;
}

td.center.cats_col {
	margin: 0;
}

.center.cats_col {
	display: block;
	width: 35px;
	height: 35px;
}

strong.torrent_label.tl_snatched {

}

div.group_info.clear span {
    /*color: transparent;*/
}

.group_torrent span {
}

.torrent span {
}

td.big_info {
    max-width: 450px;
}

.big_info span {
	float: right;
	margin-left: 20px;
	color: transparent;
}

td.big_info a {
}


.nobr {
	white-space: nowrap;
}


/* Layout (Forums) */

.last_read {width: 15px; height: 15px; background: url('') no-repeat center center; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }
.last_read a:before {
	content:"\f061";
    /* position: absolute; */
    font-family: Fontawesome;
    text-align: center;
    /*color: rgba(255, 255, 255, .3);*/
	width: 15px; height: 15px; background: none; margin-left: 5px;}
	
.read,
.unread,
.read_sticky,
.read_locked,
.read_locked_sticky,
.unread_sticky,
.unread_locked,
.unread_locked_sticky {
	/*width: 35px;
	 height: 35px; 
	padding: 7px;
	display: block;*/
	text-align:  center;
}

.read {
	background: none;
}

td.read_sticky:before {
	content:"\f24a";
    /* position: absolute; */
    font-family: Fontawesome;
    /* text-align: center; */
    margin: 0;
    color: rgba(255, 255, 255, .3);
    font-size: 22px;
}

td.unread_sticky:before {
    content:"\f24a";
    /* position: absolute; */
    font-family: Fontawesome;
    /* text-align: center; */
    margin: 0;
    color: #eb7e7f;
    font-size: 22px;
}

td.unread:before {
    content:"\f086";
    /* position: absolute; */
    font-family: Fontawesome;
    /* text-align: center; */
    margin: 0;
    color: #eb7e7f;
    font-size: 22px;
}

td.read:before {
    content:"\f086";
    /* position: absolute; */
    font-family: Fontawesome;
    /* text-align: center; */
    margin: 0;
    color: rgba(255, 255, 255, .3);
    font-size: 22px;
}

.read_locked:before,
.read_locked_sticky:before,
td.read_locked:before {
    content: "\f023";
    /* position: absolute; */
    font-family: Fontawesome;
    /* text-align: center; */
    margin: 0;
    color: rgba(255, 255, 255, .3);
    font-size: 22px;
}

.unread {
	background: none;
	color: #eb7e7f;
}
.read_sticky {

	
}
.read_locked,
.read_locked_sticky {

	
}
.unread_sticky {

	
}
.unread_locked,
.unread_locked_sticky {

	
}

.forum_post {
	margin: 15px 0;

}

table.forum_post td {

}

table.forum_unread {
	border-bottom: 2px solid #eb7e7f;
}

td.avatar {
	width: 150px;
}

td.body {
	text-align: left;
	padding: 7px;
	border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.forum_post a {

}

.breadcrumbs {
	font-weight: 300;
    text-align: left;
    margin: 1em 0;
    font-size: 18px;
}

tbody {

}

.colhead_dark td {
	padding: 6px;
}

.colheead td {
	padding: 6px;
}

blockquote {
	margin: 20px 0;
    padding-left: .5rem;
    border-left: 2px solid #eb7e7f;
}

blockquote {

}

blockquote a, blockquote.quotetext a {
    font-weight: bold;
}

#wiki a {
	color:rgba(255, 255, 255, 0.8) !important
}

#wiki .box ul li {padding: 5px 10px;}

strong.quoteheader{
}

/* Layout (Inbox) */

tr.unreadpm strong:before {
    content: " New ";
    color: #fff;
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0px 3px;
    border: 0px solid rgba(255,255,255,0.5);
    font-weight: 300;
    background-color: #eb7e7f;
    border-radius: .245em;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    box-sizing: border-box;
}


element.style {
}


tr.unreadpm a {

}

/* Layout (Permission Page) */

.permission_head {

}

.permissions {

}

.permission_container {

}

.permission_container input {

}

.permissions_edit {

}

.permission_edit_container {

}

.permission_edit_container input {


.submit_container {

}

/* Layout (Invite tree) */


}

/* Layout (User options) */

.user_options .options_list li {
}

/* Layout (MISC) */


.curtain {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}


.center {
	text-align: center;
	margin-bottom: 12px;
}

.spellcheck {
	margin: 25px 0;
	font-size: 1.25em;
	font-weight: bold;
}




.field_div {
}

.edit_changelog textarea {
}

.autocomplete-suggestions {
}

#user .sidebar {

}
#user .main_column {

}

/* remember to define focus styles! */
:focus {
outline: 0;
}


/* Input */

input[type="button"],input[type="submit"],button {
	font-family: "Roboto", sans-serif;
    font-weight: 300;
    border-image: initial;
    box-sizing: border-box;
    height: 30px;
    padding: 2px 8px;
    background: #ee6e73;
    border: 0;
    margin: 2px;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
}

input[type="button"]:hover,input[type="submit"]:hover {
    top: 3px;
    border: 0px solid rgba(255,255,255,1);
    transition: all 0.3s ease 0.3s;
    /*color: rgba(255,255,255,1);*/
}

input[type="text"],input[type="search"],input[type="email"],input[type="password"],select {
	font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* font-size: 12px; */
    /* border-image: initial; */
    box-sizing: border-box;
    height: 30px;
    padding: 2px 8px;
    background: #464a58;
    border: 0;
    margin: 2px;
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

input[type="text"]:focus,input[type="search"]:focus,input[type="email"]:focus,input[type="password"]:focus,select:focus {
	/*background: rgba(24, 32, 41, 0.3);*/
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

textarea {
font-family: "Roboto", sans-serif; */
    /* font-weight: 300; */
    /* font-size: 12px; */
    /* border-image: initial; */
    /* box-sizing: border-box; */
    min-height: 26px;
    padding: 2px 8px;
    background: #464a58;
    border: 0;
    /* margin: 2px; */

    /* text-decoration: none; */
    /* border-radius: 0; */
    /* outline: none; */
    /* -webkit-appearance: none; */
    height: auto;
	color: #fff;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    top: 3px;
    left: 1px;
}

#forums .thin>h2 {
    /*float: left;*/
}

#forums .forum_list {
	clear: both;
}

.forum_index h4,
.forum_list h4 {
	font-size: inherit
}

.forum_index h3,
.forum_list h3 {
	margin-top: 24px
}

table.staff tr.rowa, table.staff tr.rowb {
	text-align: left;
}

#recent_snatches tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#recent_snatches td {
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
	flex: 118px;
}
#header {
	position: relative;
	background: none;
	padding: 40px 0 0 0;
	min-height: 70px;
	user-select: none;
	width: 100%;
}

/*---Misc Override---*/
a[style="color:#0099FF"] {color:#fff !important;}
span[style="color: green;"] {color: #4CAF50 !important;}
span[style="color:red"] {color:#e94047 !important;}
span[style="color: red;"] {color:#e94047 !important;}
a[style="color:red"] {color:#e94047 !important;}




/*
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #eb7e7f;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/
/*
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute; 
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 95px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0; top: 0;
  width: 40px; height: 10px;
  background: #DDDDDD;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 40px; height: 10px;
  transition: all .2s;
  background: #7F8C9A;
  top: 0; left: 0;
}
*/

/* on checked */
/*
[type="checkbox"]:checked + label:before {
  background:#34495E; 
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  top: 0; left: 51px;
  border-radius: 0 6px 6px 0;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  font-family: 'FontAwesome';
  content: "\f00d";
  left: 46px;
  margin-top: 3px;
}
[type="checkbox"]:checked + label .ui:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  color: #39D2B4;
  margin-top: 3px;
  left: 12px;
}
[type="checkbox"]:focus + label:before {
  border: 0; outline: 0;
  box-sizing: border-box;
}
*/
