@import url(normalize.css);
@import url(fonts.css);
@import url(cats.css);
html {
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    line-height: 1.5;
}

body {
    width: 100%;
    background: #2E3539;
    color: #b4b4b4;
    font-family: roboto, sans-serif;
}


#wrapper {
    margin: 0px auto;
    width: 100%;
}


* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    border: none;
}

a:hover {
    text-decoration: none;
    transition: all 0.1s ease-in-out 0.1s;
}

#alerts {
    text-align: center;
    top: 85px;
    margin: 0 auto 0;
    width: 100%;
    position: relative;
    background: #2E3539;
    padding: 9px;
}

.alertbar, .alertbar.blend  {
    display: inline-block;
    width: auto;
    padding: 6px;
    margin: 0px auto;
    text-align: center;
}

.alertbar:hover a{
    text-decoration: none;
}



b, strong {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

table.forum_list strong {
    font-family: roboto ,sans-serif;
}

.error_message,.save_message {
    position: relative;
    display: table;
    height: 24px;
    width: auto;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    border-radius: .145em;
    margin-bottom: 20px;
}



.info {
    font-size: 20px;
}


span.size1 {
    : 0.75em;
}

span.size2 {
    font-size: 1em;
}

span.size3 {
    font-size: 1.25em;
}

span.size4 {
    font-size: 1.5em;
}

span.size5 {
    font-size: 1.75em;
}

span.size6 {
    font-size: 2em;
}

span.size7 {
    font-size: 2.25em;
}

span.size8 {
    font-size: 2.5em;
}

span.size9 {
    font-size: 2.75em;
}

span.size10 {
    font-size: 3em;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 3.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0; }

h2 {
  font-size: 2.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0; }

h3 {
  font-size: 1.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
  font-weight: 300;}

h4 {
  font-size: 1.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
  font-weight: 400;}

h5 {
  font-size: 0.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0; }

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }


.btn {
    padding: 4px 8px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;

}

#header {
    height: 80px;
    background: #282B2E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    z-index: 1000;
}

#logo {
    width: 190px;
    height: 80px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
}

#logo a{
    background: url('images/logo.svg') no-repeat center center #282B2E;
    width: 183px;
    height: 65px;
    margin: 0px;
    position: absolute;
}

#header a:active, #header a:focus, #logo a:hover, #logo a:active, logo a:focus, .btn:focus {
    border: none;
    outline: none;
}

blockquote {
    color: #fff;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.quotetext {
    margin-top: 10px;
    white-space: pre-line;
}

.quotehead {
    margin-top: 10px;
    margin-left: 10px;
}

#bbcodes button {
    font-size: 11px;
    font-family: roboto "Arial",sans-serif;
    cursor: pointer;
    margin: 0px 1px 3px;
    min-width: 22px;
    padding: 3px;
    border-radius: 0px;
}

#bbcodes {
    padding: 3px;
    margin: auto;
    max-width: 550px;
    text-align: center;
}

#bbcodes button,#bbcodes button img {
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}


#whutbb {
    padding: 2px 0px;
}

#smilebb img,#smilebb div,#bbopts .save {
    cursor: pointer;
}

.openbb {
    height: auto !important;
    padding: 3px 0px;
}

#smilebb,#bbopts {
    margin: auto;
    height: 0px;
    overflow: hidden;
}

#bbopts span {
    display: inline-block;
    margin: 0px 6px 0px 8px;
}


#bbopts select {
    border-radius: 0px;
}

.whutbbcon {
    display: block !important;
    padding: 3px 0px;
}

div[over] {
    max-height: 100px;
    overflow: auto !important;
}

div[over] img {
    padding: 1px;
}

#bbcodes button:hover img {
    opacity: .8;
}

.cats_col a {
    padding: 0px;
    border: none;
    width: 50px;
    height: 50px;
    display: block;
}

.box {
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.box.pad {
    padding: 10px !important;
}
.head, .colhead, .colhead_dark {
    margin: 0px;
    font-size: 1em;
}

tr.colhead td {
    padding: 15px;
}

.colhead > td:nth-child(2) {
    text-align: left;
}

.forum_title h3 {
    font-size: 2em;
}

.forum_description {
    font-size: 12px;
}

table.forum_post {
    margin: 20px 0px;
    border: none;
}

table.forum_post tr.colhead_dark a {
}

table.forum_unread {
    outline: 1px solid #47AE73 !important;
}

td.avatar {
    width: 150px;
    padding: 8px;
}

table.forum_post {
    outline: 0px solid #2b3443;
}

table.forum_post td.body {
    max-width: 690px;
    padding: 10px 12px 30px;
    overflow: hidden;
    word-wrap: break-word;
    color: #fff;

}


table.forum_post {
    border-radius: 0;
}


th.posts,th.topics {
    text-align: center;
    width: 80px;
}
td.posts,td.topics {
    text-align: center;
    width: 8%;
}

td.author {
    text-align: center;
}

.last-post {
    text-align: left;
    padding-left: 9px;
}
.forum {
    width: 245px;
    text-align: left;
    white-space: nowrap;
}

.spoiler {
    margin: 10px;
}

.spoilercontents {
    padding: 10px;
}

.extrainfo {
    margin: 10px;
    padding: 10px;
    border: 1px solid #666;
}

.last_read a {
    border: none;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.last_read a:hover {
    border: none;
}

.unread-post-count {
    color: #EF4836;
}


p {
    margin: 10px 5px;
}

li {
    margin: 5px 15px;
}

input {
    padding: 2px 3px;
}

textarea {
    padding: 2px 3px;
}

img {
    border: none;
}

input[type="button"],input[type="submit"] {
    padding: 4pt 6pt;
    font-family: roboto,sans-serif;
    cursor:pointer;
    
}

input[type="button"]:hover,input[type="submit"]:hover {
    top: 3px;
}

input[type="text"],select {
    padding: 2px 3px;
    line-height: 9pt;
    border-radius: 0px;
    -webkit-appearance:none;
    height:30px;
}

textarea {
    margin: 0 0 10px 0;

}

#filter-table .inputtext {
    padding: 5px 12px;
    margin-top: 0px;
    border: 0px solid #47AE73;
}

form textarea, form input {
    max-width: 780px;
}

#content, #site_debug {
    margin: 100px auto auto;
    background: #2E3539;
    padding: 20px 20px 20px 220px;
}

.main_column {
    width: 70%;
}
.main_column .box {
    margin: 0px 10px 30px;
}

#torrents .main_column {
    width: 100%;
}



.sidebar {
    float: right;
    width: 30%;
    height: 100%;

}

.sidebar .box {
    margin: 0px 10px 30px;
}

.sidebar > div:nth-child(1) {
	display: none;
}

.body {
    padding: 10px;
}

.pad {
    padding: 20px;
}


.pad h3,.pad h4,.padbox h3,.padbox h4 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: -10px;
}

.noborder {
    border: none;
}

ul.nobullet {
    list-style-type: none;
}

.vertical_space {
    margin-bottom: 20px;
}

.linkbox {
    text-align: left;
    padding: 15px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.min_padding {
    padding: 0px;
    margin: 0px 0px;
}

p.min_padding {
    margin: 2px 0px;
}

.hidden {
    display: none;
}

.hidden {
    position: absolute;
    left: -10000px;
}

input.hidden {
    position: absolute;
    display: none;
}
.thin {
    width: 100%;
    margin: 0px auto;
}

.thin > h2 {
    font-size: 1.7em;
}
 
ul.thin {
    margin: 0px 0px 0px 25px;
    padding: 0px;
}

ul.thin li {
    margin: 0px 0px;
    padding: 0px;
}

.curtain {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: .80;
}

.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 0px;
    z-index: 1002;
    overflow: auto;
}

.spellcheck {
    margin: 25px 0;
    font-size: 1.25em;
}

.permission_head {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.permissions {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.permission_container {
    float: left;
    width: 300px;
    padding: 5px;
}

.permission_container input {
    margin: 0px 3px 5px 0px;
    vertical-align: top;
}

.submit_container {
    clear: both;
    text-align: right;
}

ul .invitetree {
    margin: 0px 0px 0px 25px;
}

.invitetree li {
    list-style: none;
    margin: 10px 2px;
}

ul.stats li {
    padding: 0px 0px 1px 0px;
}

ul.poll li {    padding: 2px 0px 2px 10px;
    margin: 0px;
    clear: left;
}

ul.poll li.graph {
    height: 8px;
    padding: 0px;
    margin: 5px 0;
    border-radius: 0px;
}

.right_poll,.left_poll,.center_poll {
    float: left;
    width: 2px;
    height: 8px;
    padding: 0;
    margin: 0;
}

.left_poll {
    border-right: none;
    border-radius: 0;
}

.center_poll {
    border-left: none;
    border-right: none;
}

.right_poll {
    border-left: none;
    border-radius: 0;
}



#searchbars {
    position: absolute;
    top: 230px;
    width: 871px;
    text-align: center;
    padding: 4px 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: none;
}

#searchbars input {
    position: relative;
    padding: 2px 2px 2px 4px;
    font-size: 0.9em;
}

#searchbars ul {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#searchbars ul li {
    display: inline;
    margin: 0px 1px;
    list-style: none;
    position: relative;
}

#searchbars ul li ul {
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 1000;
    width: 12em;
    margin-top: 12px;
}

#searchbars ul li ul li {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
}



#searchbars ul li form {
    display: inline;
}

td {
    padding: 10px 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 6px;
}

tr td span strong a {
	font-weight: normal;
}
.thead {
    font-size: 1.077em;
    padding: 9px;
    white-space: nowrap;
}

#torrent_table {
    width: 100%;
    margin: 0 auto;
}

#torrent_table table tr td {
    vertical-align: middle;
    text-align: center;
}

tr.torrent td:nth-child(n+5), table.forum_index tbody tr td:nth-child(n+4), .colhead td:nth-child(n+4), table.forum_list tr td:nth-child(n+3){
    text-align: center;
}


.forum_index h4 {
    font-size: 12pt;
}

h4 a:after {
    content: attr(title);
    display: block;
    font-size: 75%;
}

.show_torrents {
    width: 28px;
    height: 28px;
    background: url("images/browse/show.png") no-repeat center center;
}

.hide_torrents {
    width: 28px;
    height: 28px;
    background: url("images/browse/hide.png") no-repeat center center;
}

.show_torrents_link {
    border: none;
    width: 28px;
    height: 28px;
    display: block;
}

#searchfilter{
    float: right;
}

.filter_torrents h3 {
    margin-bottom: 12px;
    color: transparent;
}

.filter_torrents table {
    margin-bottom: 10px;
}

.filter_torrents table:last-child {
    margin-bottom: 0;
}

.filter_torrents .box {
    position: relative;
    z-index: 10;
    border-color: #999;
}

.filter_torrents .submit {
    text-align: right;
    padding-top: 5px;
}

.cat_list tr td {
    border: none;
}

.cat_list a {
}



.torrent_table tr {
    vertical-align: middle;
}

.torrent_td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 550px;
    padding-left: 1em;
    text-align: left;
}



.torrent_table div.tags {
    font-weight: normal;
}

.torrent_table tr .center {
    vertical-align: middle;
    text-align: center;
}

.torrent span.torrent_handle_links {
    font-weight: normal;
    float: right;
    display: block;
    top: 7px;
    padding: 2px;
}

.torrent_handle_links {
 text-align: center;
}

.torrent span.torrent_name_link {

    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.torrent_extra_info, .torrent_new {
    vertical-align: top;

    padding: 1px 3px;
}



.size {
    text-align: center;
}

.size .count_files {
    font-weight: normal;
    display: none;
    line-height: 10px !important;
    font-size: 10px;
}


.nobr {
    white-space: nowrap;
}

.tags, .browsepretime {
    padding: 0px 0 0 0;
    font-size: 12px;
    font-style: italic;
    font-family: roboto,sans-serif;
    margin: 0;
}


.tags a:hover {
    text-decoration: underline;
}


#cat-selector ul {
    width: 100%;
}

#cat-selector ul li {
    display: inline;
    width: 52em;
    height: 1em;
    float: left;
}

#torrentpreset {

    margin: 40px 0px 0px;
    text-align: left;
}

#torrentpreset ul li {
    display: inline-block;
    list-style: none;
    height: 23px;
    float: left;
    margin: 0px;
}

#torrentpreset ul li a {
    padding: 0.6em 1.2em;
    border: solid 0px transparent;
    border-bottom: none;
    border-radius: 0;
}

#torrentpreset ul li a:hover {
    text-decoration: none;
}

#torrentpreset ul li.torrentpresetactive a {
    text-decoration: none;
    padding: 4px 9px;
}




#inbox form > table {
    margin: 10px 0;
}

#staff .box.pad {
    margin: 10px 0;
    
}

#staff .box.pad h3{
    margin: 10px 0px;
}

.colhead_dark:first-child + tr td {
    border-top: none;
}

.colhead_dark td {
    line-height: 2em;
}

#top10 td.center.cats_col {
    width: 50px;
}
 /*Pager-Start*/
.linkbox {

    margin: 30px 0;
}

.linkbox strong {
    padding: 6px 12px;
    border-radius: 0px;
}

.linkbox a strong {
    border-radius: 0px;
}

.linkbox a:hover {
    text-decoration: none;
}


.read, .unread, .read_locked, .unread_locked, .unread_sticky, .read_sticky, .read_locked_sticky, .unread_locked_sticky {
    width: 36px;
    height: 36px;
    display: block;
    margin: 25px 10px;
    padding: 0px;
}

.last_post {width: 15px; height: 15px; background: url('images/go_last_read.svg') no-repeat center center; margin-left: 5px;}
.last_read {width: 15px; height: 15px; background: url('images/go_last_read.svg') no-repeat center center; margin: 3px 0 0 5px;}




.last_read a, .last_post a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover, .last_post a:hover { border: none; }


.unread_locked_sticky{background: url('images/stickylocked.svg') no-repeat center center #47AE73;}
.read_locked_sticky{background: url('images/stickylocked.svg') no-repeat center center #f34235;}
.unread_sticky{background: url('images/sticky.svg') no-repeat center center #47AE73;}
.read_sticky{background: url('images/sticky.svg') no-repeat center center #2E3539;}
.unread_locked{background: url('images/locked.svg') no-repeat center center #47AE73;}
.read_locked{background: url('images/locked.svg') no-repeat center center #f34235;}
.unread{background: url('images/read.svg') no-repeat center center #47AE73;}
.read{background: url('images/read.svg') no-repeat center center #2E3539;}


/*Pager-End*/
/* Donation-page styles */

.donate-custom {
    text-align: center;
}

.donation-tiers {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.donation-tiers:after {
    display: block;
    content: "";
    clear: both; 
}

.tier {
    height: 350px;
    float: left;
    width: 184px;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 20px; /* Extra padding to make space for buttons */
}

.tier strong {
    margin-bottom: 20px;
}

.rewards {
    list-style-type: none;
    margin: 20px 0;
}

.tier:last-child {
    margin-right: 0;
}

.donate-custom .donate-button {
    vertical-align: bottom;
}

.tier .donate-button {
    position: absolute;
    bottom: 20px;
}

/* Highlighted torrents and unread PMs */

.torrent_highlight td, .unreadpm td {
    height: 50px;
}

.label {
    white-space: nowrap;
}

#supportticket .label {
    white-space: normal;
}

#request_table td:nth-child(9){
    display:none;
}

#request_table td:nth-child(3){
    display:none;
}

#request_table td:nth-child(4){
    display:none;
}

#request_table td:nth-child(5) {
    text-align: center;
}

#request_table td:nth-child(7) {
    display: none;
}

#request_table {
   width: 100%;
    margin: 0 auto;
    
}

#request_table tr td {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 365px;
padding-left: 8px;
text-align: left;
}

#pretable tr td {
    max-width:400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



td.center.cats_col {
    padding: 5px;
    width: 50px;
}


#forums .center {
    padding-bottom:30px;
}

.sticky_post {
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;

    
}


.unread_post_label, a.post_id {
	display: inline-block;
	min-width: 10px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	padding: 0px 6px;
	margin-right: 10px;
        float: left;
}

.user_title {
    word-wrap: break-word;
}
.user_title img {
    vertical-align: middle;
}

#preview {
    padding-bottom: 10px;
}

#friends .left input:nth-child(odd) {
    width:80px;
}

.extra-filter-addon {
    float: right;
    padding: 5px 12px;
    margin-top: 5px;
}

.resultscounttotal {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0px;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    background-image: none;
    border-radius: .145em;
    border: 0px solid #363B3E;
    color: #FFF;
}

.50 {
    width: 50%;
    float: left;
}
/*-------------------------IMDB-START-------------------------*/
.page-section
{
	background-color: #282B2E;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0px 0px #777;
	-moz-box-shadow: 0 0px 0px #777;
	box-shadow: 0 0px 0px #777;
	border-radius: 2px;
}

.page-section-header
{
	color: #fefefe;
	display: block;
	color: rgb(213, 224, 255);
	background: #2E3539 !important;
	padding: 10px;
	border-radius: 0px;
  border-bottom: 1px solid #47AE73;
  font-weight: inherit;
/*
	font-size: 12px;
	font-family: 'Source Sans Pro','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
*/
}

.page-section-header a, .page-section-header a:hover
{
    text-decoration: none;
}

.page-section-header .floating
{
	margin-left: 12px;
	float: right;
}

#torrents .main_column {

}

.row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

#imdb {    
	background-color: #282B2E;
	height: auto;
	overflow:auto;
}
#imdb_details {
	padding-left:5px;
	font-weight:;
	text-transform: capitalize;
	white-space: pre-wrap;
}

.imdb_rating {
    padding: 10px 0px 10px 10px;
    float: none;
}

.imdb_rating_text {
    text-align: left;
    font-size: 24px;
    color: #47AE73;
    font-weight: 300;
}
.imdb_votes
{
	font-size: 11px;
	color: #bebebe;
}
#imdb_poster {
    width: 150px;
    margin: 0px;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
#imdb_table{
    float: left;
    width: 85%;
    padding: 0 15px
}
.imdb_name h3, .imdb_rating h3, .imdb_name a h3, .imdb_subname h3, .imdb_subname h3 a
{
	font-family: roboto,sans-serif;
	margin-top: 0;
	font-weight: 300;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #38ab75;
	padding-top: 0;
}

.imdb_name span
{
	font-size: 90%;
}
.tvrage_name h3
{
	margin-top: 0px;
}
.imdb_subname h3, .imdb_subname h3 a
{
	font-weight: 400;
	margin: 0px 5px 0px 5px;
	font-size: 20px;
}
.imdb_name h3 a {
    color: #2b3443;
}
.imdb_rating > h3 { 
}
.imdb_description {
	font-size: 100%;
	color: #fff;
	margin-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
}
.small {
     font-size: 14px;
}
dl {
        margin-bottom: 0px;
}
dt,dd {
        line-height: 1.5;
        padding-bottom: px;
}
dt {
        font-weight: normal;
}
dd {
        margin-left: 0;
}
dd a {
    color: #38ab75;
}
.dl-horizontal {
    margin-top: 20px;
}
.dl-horizontal dt {
    float: left;
    width: 90px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}
.dl-horizontal dd {
    margin-left: 110px;
}

.dl-horizontal dd:before,.dl-horizontal dd:after {
    content: " ";
    display: table;
}

.dl-horizontal dd:after {
    clear: both;
}

.dl-horizontal dd:before,.dl-horizontal dd:after {
    content: " ";
    display: table;
}

.dl-horizontal dd:after {
    clear: both;
}


hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;

}

span.tsh, span.tsh>* {
    display: inline-block;
    background: url('images/rating.png') 0 -16px repeat-x;
    width: 160px;
    height: 16px;
}

span.tsh>*{
    max-width:160px;
    background-position: 0 0;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dl-horizontal dt {

    text-align: left;

}

#catchupnewtagslink {
   display: none;
}

#new_search_button {
    margin-left: -5px;
    height: 30px;
    padding-top: 2px;
    background: #47AE73;
    border-radius: 0px 2px 2px 0px;
    border-left: 0px none;
}

#filter-table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    display: none;
}

.last_poster {
    float: left !important;;
    clear: both;
}

.last_poster .time {
    display: block;
    font-size: small;
}

#donatebutton {
    width: 160px !important;
    position: fixed;
    top: 65px;
    background: #282b2e;
    z-index: 1001;
    height: 50px;
    padding-left: 10px;
}

#donatelink {
    display: none;
}

#donateimg {
    text-indent: 0 !important;
    background-image: none !important;
    height: 0px!important;
    width: 100px !important;
    white-space: normal;
    display: block;
}

#donateprogress_bar {
    background-color: #2E3539 !important;
    width: 160px !important;
    height: 10px !important;
    border:0px solid #47AE73 !important;
    color: #fff !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

#donateprogress_value {
    background-color: #47AE73 !important;
    height: 10px !important;
}

#donateprogress_percent {
    color: #FFF !important;
}
#donateprogress_percent {
    position: absolute !important;
    top: 32px !important;
    text-align: right !important;
    right: 4px !important;
    font-size: 0.8em;
}

#disclaimer_container {
    display: none;
}

#userinfo {
    background-color: #282B2E;
    left: 0px;
    position: fixed;
    top: 0;
    width: 200px;
    padding-bottom: 60px;
    z-index: 1000;
    height: calc(100%);
    padding: 130px 0 0 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    overflow-y: auto;
}

/*#userinfo::before {
    background-color: #2E3539;
    top: 250px;
    content: "User Info";
    position: absolute;
    right: -43px;
    text-align: center;
    transform: rotate(90deg);
    transform-origin: right top 0px;
    width: 100px;
    padding: 10px;
    border-bottom: 1px solid #47AE73;
}*/

#userinfo a{
    display: block;
    padding: 5px 15px;
}

#userinfo ul {
	margin: 0;
	padding: 0px;
}

#userinfo li {
	list-style-type: none;
	margin: 0;
}

#userinfo li:hover {
	display: block;
	background: #2E3539;
}

#userinfo li:last-child {
	margin-bottom: 0;
}


#userinfo {
    
    transition: left 0.3s ease-in 0.3s;
    
}
#userinfo:hover {
    left: 0px;
    transition: left 0.1s ease-in 0.1s;
}
/*#inbox .colhead > td:nth-child(1):after {
    content: "   Select all";
    white-space: nowrap;
}*/

#torrents .group_torrent > td:nth-child(n+3) {
    text-align:center;
}

.group_torrent > td > span {
    background: none;
    margin: 0 10px;
    padding: 2px 6px;
    border-radius: .145em;
    border: 0px solid #38ab75;
    color: transparent;
}
.extrainfo-media {
    display: none;
}

@media (max-width: 48em) {
   
    #userinfo, td.avatar, #donatebutton {
        display: none;
    }
    #stats_block {
        display: none;
    }
    #content {
        padding-left: 20px;
    }
    #menu {
	line-height: 15px !important;
	margin-left: 0px;
	z-index: 1001;
    }
    #logo {
	top: 0px;
	left: 20px;
    }

}