.cats_moviesdvdr,.cats_moviesx264,.cats_anime,.cats_tvdvdrip,.cats_gamesxbox360,.cats_misc,.cats_tvxvid,.cats_appspc,.cats_gamesps3,.cats_tvx264hd,.cats_tvx264sd,.cats_ebooks,.cats_moviesxvid,.cats_gamespc,.cats_musicflac,.cats_appsmisc,.cats_handheld,.cats_musicvideos,.cats_musicmp3,.cats_moviesfullbluray,.cats_tvpsd,.cats_tvphd,.cats_foreign,.cats_moviehdpack,.cats_moviedpack,.cats_mp3pack,.cats_flacpack,.cats_xxx-SD,.cats_xxx-HD, .cats_tvhd, .cats_tvsd, .cats_moviessd, .cats_movieshd {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

/*---------------------------tv green--------------------*/
.cats_tvhd {
    background-image: url(images/cats/hdtv.svg);
}

.cats_tvsd {
    background-image: url(images/cats/sdtv.svg);
}

.cats_tvdvdrip {
    background-image: url(images/cats/tvdvd.svg);
}

.cats_tvpsd {
    background-image: url(images/cats/sdtvpack.svg);
}

.cats_tvphd {
    background-image: url(images/cats/hdtvpack.svg);
}
/*----------------films blue---------------*/
.cats_moviesfullbluray {
    background-image: url(images/cats/bluray.svg);
}

.cats_foreign {
    background-image: url(images/cats/foreign.svg);
}

.cats_moviessd {
    background-image: url(images/cats/sdmovies.svg);
}

.cats_moviesdpack {
    background-image: url(images/cats/sdmoviepack.svg);
}

.cats_movieshd {
    background-image: url(images/cats/hdmovies.svg);
}

.cats_moviehdpack {
    background-image: url(images/cats/hdmoviepack.svg);
}

.cats_moviesdvdr {
    background-image: url(images/cats/dvd.svg);
}

.cats_remux {
    background-image: url(images/cats/remux.svg);
}

.cats_anime {
    background-image: url(images/cats/anime.svg);
}

/*-------------games red----------*/
.cats_gamespc {
    background-image: url(images/cats/pcgames.svg);
}

.cats_gamesxbox360 {
    background-image: url(images/cats/xbgames.svg);
}

.cats_gamesps3 {
    background-image: url(images/cats/psgames.svg);
}
.cats_handheld {
    background-image: url(images/cats/handheld.svg);
}
.cats_gamepack {
    background-image: url(images/cats/gamepack.svg);
}

.cats_misc {
    background-image: url(images/cats/misc.svg);
}

/*.cats_tvxvid {*/
    /*background-image: url(images/tvxvid.png);*/
/*}*/

.cats_appspc {
    background-image: url(images/cats/pcapps.svg);
}

.cats_ebooks {
    background-image: url(images/cats/books.svg);
}

.cats_audiobooks {
    background-image: url(images/cats/audiobook.svg);
}
/*-------------music purple-------------------*/
.cats_musicmp3 {
    background-image: url(images/cats/mp3.svg);
}
.cats_mp3pack {
    background-image: url(images/cats/mp3pack.svg);
}

.cats_musicflac {
    background-image: url(images/cats/flac.svg);
}

.cats_flacpack {
    background-image: url(images/cats/flacpack.svg);
}

.cats_appsmisc {
    background-image: url(images/cats/appsmisc.svg);
}

.cats_musicvideos {
    background-image: url(images/cats/musicvideo.svg);
}
