@import url(base.css);

a {
    color: #e4e4e4;
}

a:hover {
    color: #3dba7f;
}


kbd {
background-color:#f7f7f7;
color:#333;
}


#alerts {
    color: #FFF;
}

.alertbar, .alertbar.blend  {
    border: 1px solid #47AE73;
    background: none;
    text-align: center;
    color: #fff;
    border-radius: .145em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition:  all 0.2s ease-in-out 0.2s;
    -moz-transition:  all 0.2s ease-in-out 0.2s;
    -o-transition:  all 0.2s ease-in-out 0.2s;
    -ms-transition:  all 0.2s ease-in-out 0.2s;
    transition:  all 0.2s ease-in-out 0.2s;
    
}

.alertbar:hover, .alertbar.blend:hover {
    background: #47AE73;
    border: 1px solid #47AE73;
    -webkit-transition:  all 0.2s ease-in-out 0.2s;
    -moz-transition:  all 0.2s ease-in-out 0.2s;
    -o-transition:  all 0.2s ease-in-out 0.2s;
    -ms-transition:  all 0.2s ease-in-out 0.2s;
    transition:  all 0.2s ease-in-out 0.2s;
}

.alertbar a {
    color: #fff;
}

.alertbar a:hover {
    color: #fff;
}

.alertbar {
    color: #fff;
    font-size: 90%;
    font-family: roboto, "source_sans_proregular",sans-serif;
    max-width: 300px;
    border-radius: 0.145em;
    background: #47AE73;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    line-height: 1.5;
}

.error_message {
    background-color: #ee524f;
    border: 0px solid #ee524f;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);

}

.save_message {
    background-color: #ffed57;
    color: #000;
    border: 0px solid #ffed57;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);

}

.invalid, .warning, .error {
    color: #fff;
}

.info {
    color: #5b6abf;
}

.elem_error {
    border: 3px solid #ee524f;
}


.btn {
    background: #3E4649;
}

blockquote {
    color: #fff;
    border-left: 1px solid #47AE73;
    background: none;
}

blockquote a, blockquote.quotetext a {
    color: #47AE73;
    font-weight: bold;
}

.quotehead strong {
    color: #47AE73;
}


#bbcodes button {
    background-color: #3E4649;
    color: #555;
    border: 0px solid #3E4649;
}


#bbcodes button:hover {
    background-color: #F9F9F9;
    color: #555;
    border: 0px solid #eee;
}

.pressed {
    background-color: #ddd !important;
    border: 0px solid #aaa !important;
}

.whutbbcon {
    color: #d06620;
}

.box {
    background: #282B2E;
    border: 0px solid #888;
}

.head, .colhead, .colhead_dark {
    background: none;|
    border-bottom: 0px solid #47AE73;
    
}
 .colhead_dark {
    background: #2E3539;
}

div.head, .head strong,.page-section-header {
    color: #fff;
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
    background: none;
}



table.forum_unread td.body {
    background: #3E4649;
}

table.forum_post {
    outline: 0px solid #2b3443;
}

table.forum_post td.body {
    background-color: #282b2e; /*2E3539*/
    color: #fff;
    border-left: 0px solid #47AE73;
}


td.body a {
    color: #47AE73;
}

table.forum_unread {
    outline: 1px solid #47AE73 !important;
}

.spoilercontents {
    border: 0px dotted #47AE73;
    background: #363B3E;
}

.extrainfo {
    border: 0px solid #666;
}

.unread-post-count {
    color: #EF4836;
}

input {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border:  /*1*/ 0px solid transparent;
    background: #3E4649;
    border: 0px solid #47AE73;
    color: #fff;
}

input[type="button"],input[type="submit"] {
    display: inline-block;
    padding: 5px 12px;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    /*border: 0px solid transparent;*/
    border-radius: .145em;
    background-color: #47AE73;
    border: 1px solid #47AE73;
    color: #fff;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    margin: 6px;
    margin-right: 8px;
}
input[type="button"]:hover,input[type="submit"]:hover {
    top: 3px;
    background: #3dba7f;
        -webkit-transition:  all 0.2s ease-in-out 0.2s;
    -moz-transition:  all 0.2s ease-in-out 0.2s;
    -o-transition:  all 0.2s ease-in-out 0.2s;
    -ms-transition:  all 0.2s ease-in-out 0.2s;
    transition:  all 0.2s ease-in-out 0.2s;
}

input[type="text"],select {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border-radius: .145em;
    border: /*1*/0px solid #47AE73;
    background: #3E4649;
    color: #fff;
    
}

textarea {
    border: /*1*/0px solid #47AE73;
    background: #3E4649;
    color: #fff;
}

form textarea, form input {
    border-radius: .145em;
}

textarea {
    overflow-y: hidden;
    padding: 1.6rem 0px;
    resize: none;
    min-height: 5rem;
    background: #2E3539;
    border-bottom: 1px solid #47AE73 ;
    outline: medium none;
    height: 5rem;
    width: 100%;
    font-size: 1rem;
    margin: 0px 0px 15px;
    padding: 1em;
    box-sizing: content-box;
    transition: all 0.3s ease 0s;
    overflow: auto;
}

textarea:after, input:after {
    display: block;
    font-size: 75%;
    content: attr(name);
}
img {
    border: none;
}

.curtain {
    background-color: #363B3E;
}

ul.poll li.graph {
    background-color: #3E4649;
    border: 0px solid #999;
}

.right_poll,.left_poll,.center_poll {
    background-color: #47AE73;
    border: 0px solid #47AE73;
}

.r00 { color: #d93636; }
.r01 { color: #d94136; }
.r02 { color: #d94136; }
.r03 { color: #d94f36; }
.r04 { color: #d96736; }
.r05 { color: #d97236; }
.r06 { color: #d97236; }
.r07 { color: #d97f36; }
.r08 { color: #d99836; }
.r09 { color: #d9a336; }
.r10 { color: #82d936; }
.r20 { color: #6fd936; }
.r50 { color: #67d936; }
.r99 { color: #d95736; }

#searchbars {
    background-color: #363B3E;
}

#searchbars input {
    border: 0px solid #47AE73;
    background-color: #2F2F31;
    color: #fff;
}

#searchbars ul li ul {
    background-color: #999;
}


#searchbars ul li ul li.highlight {
    background: #D7D7D7;
}

table {
    outline:0px solid #999999;
    background-color: #282b2e;
}

table tr td {
    border-top: 0px solid #E6E7E8;
    /*max-width: 450px;*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    /*-ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;    */
}

.thead {
    background: #2e3539;
    border-bottom: 0px solid #47AE73;
}

tr.rowb, tr.rowa {
	border-bottom: 0px solid #2f2f2f;
}

.cat_list .cat_disabled {
    color: #888;
    opacity: 0;
}

.torrent_table tr.torrent {
    border-bottom: 0px solid #2f2f2f;
}

.torrent_table tr.torrent_highlight {
    background-color: #3E4649;
}

#torrent_table {
    text-align: center;
}

.torrent span.torrent_name_link {
    color: #fff;
}

.torrent_extra_info, .torrent_new {
    color: #FFF;
}

.torrent span.torrent_name_link:hover {
    color: #47AE73;
}

.tags, .browsepretime {
    color: #fff;
}

.tags a {
    color: #fff;
}

.torrent_new font {
    color: #fff;
    vertical-align: middle;
}


.torrent_new {
    float: left;
    clear: right;
    margin-top: -6px;
    display: block;
    color: transparent;
    background: #38ab75;
    font-size: 12px;
}

.torrent_extra_info {
    float: left;
    clear: both;
    margin-top: -6px;
}

#torrentpreset {
    color: #fff;
    
}

#torrentpreset ul li a {
    color: #fff;
    background: none /*#3E4649*/;
}

#torrentpreset ul li a:hover {
    color: #fff;
    background:none;
    border-bottom: 3px solid #47AE73;
}

#torrentpreset ul li.torrentpresetactive a {
    background: none;
    color: #fff;
    border-bottom: 3px solid #47AE73;
}

#torrentpreset ul li a {
    color: #fff;
    border: 0px solid #47AE73;
    border-color: #47AE73;
}

#inbox .head a {
    color: #fff;
}

.gototop_post_link {
    text-decoration: none;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;	
}

.gototop_post_link {
    background-image: url(images/go_top.svg);
    background-repeat: no-repeat;
    background-color: #47AE73;
    color: rgba(0,0,0,0.001) !important;
    color: transparent;
}

.pad a {
}

.pad a:hover {
}


 /*Pager-Start*/
.linkbox {
    color: transparent;

}

.linkbox strong {
    color: #fff;
    background: #47AE73;
    border: 0px solid #47AE73;
    border-radius: .145em;
     /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
}

.linkbox strong:hover {
    color: #fff;
    background: #47AE73;
    border: 0px solid #47AE73;
    border-radius: .145em;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;
}


.linkbox a strong {
    color: #F9F9F9;
    background:#3e4649;
    border: 0px solid #3E4649;
    border-radius: .145em;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

/*Pager-End*/
.cat_list td {
    background: none repeat scroll 0% 0% #3E4649;
}
/* Donation-page styles */


.tier {
    border: 0px solid #47AE73;
    background: #363B3E;
}


/* Highlighted torrents and unread PMs */

.torrent_highlight td, .unreadpm td {
    background-color: #3E4649;
    border-color: #3E4649;
}

.sticky_post {
    background: #3E4649;
}

.runtime, .genres {
    color: #fff;
}

#footer {
    padding-top: 40px;
    background: #2E3539;
}

#footer p {
    margin: 0 20px 0 0;
    padding: 0 0 30px 0;
    text-align: center;
}

#footer p strong {
    padding-left: 3px;
    color: #47AE73;
}

#footer #disclaimer_container {
    display: none;
}

#site_debug, #footer {
    margin: 40px auto auto;
    background: #2E3539;
    padding: 20px 20px 20px 250px;
}







.extra-filter-addon {
    background-color: transparent !important;
    color: #fff !important;
}

.resultscounttotal {
    background: #363B3E;
    color: #fff;
}
/*
.page-section-header {
    color: #fefefe;
    background-color: #2E3539;
    border-bottom: 1px solid #47AE73;
}

#imdb {
    background-color: #282b2e;
}

.imdb_rating_text {
	color: #fff;
        display: none;
}
.imdb_votes {
    color: #bebebe;
}

.imdb_name h3, .imdb_rating h3, .imdb_subname h3, {
    color: #fff !important;
}

.imdb_name h3 a , .imdb_subname h3 a {
    color: #47AE73;
}
.imdb_name h3 {
    color: #fff !important;
}

.page-section {
    background-color: #282b2e; /*2E3539*/
}

.imdb_name h3 a {
    color: #fff;
}

.imdb_description {
    color: #fff;
}

dd a {
    color: #47AE73;
}


hr {
    border-top: 0px solid #47AE73;
}


#catchupnewtagslink a font {
    color: #47AE73;
}

#days-to-go {
    color: #47AE73;
}

a.toggle-filter.extra-filter-addon:hover {
    background-color: #363B3E !important;;
}

.last_poster a {
    color: #47AE73;
}

/*#donateimg {
    background-image: none;
}

a #donateimg {
    outline: none;
    color: #fff;
}

#donateprogress_percent {
    color: #fff !important;
}

#donateprogress_value {
    background-color: #47AE73 !important;
}

#donateprogress_bar {
    background: #2F2F31;
    border: 0px solid #47AE73;
}*/


a:hover {
    position: relative;
}

.torrent span.torrent_handle_links {
    background: #3E4649;
    width: 65px;
    border-radius: .145em;
     /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
}
.torrent_handle_links {
    color: transparent;
}

#donateprogress_bar > span:nth-child(2) {
    color: #fff !important;
    font-weight: inherit !important;
    text-align: left !important;
    font-size: 0.8em !important;
    width: 113px;
    overflow: hidden;
    height: 20px;
    text-transform: lowercase;
}

#donateprogress_bar > span:nth-child(2)::before {
    content: "Bill due in ";

}

#user input:not(#styleurl):not(#avatar):not([type="submit"]):not([type="text"]):not([type="password"]):empty
{
    margin-left: -9999px
}

#user input:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0;

}

#user input:empty ~ label:before, 
#user input:empty ~ label:after
{
	    position: absolute;
    display: block;
    top: 10px;
    left: 0px;
    content: " ";
    border: 0px solid #47AE73;
    transition: all .1s ease-in .1s;
    background-color: #7D7D7D;
    bottom: 0px;
    : 1px;
    height: 0.25em;
    width: 2.6em;
}


#user input:empty ~ label:after
{
	margin-left: 0px;
        background-color: #FFF;
        : 3px;
        height: 0.8em;
        top: 0.45em;
        width: 0.8em;
}

#user input:checked ~ label:before
{
	background-color: #38ab74;
    border: 0px solid #47AE73;
}

#user input:checked ~ label:after
{
	margin-left: 2.1em;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#rss_link {
    -ms-word-break: break-all;
     word-break: break-all;

/* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}


#menu {
    line-height: 70px;
    /*margin: 0px 200px;*/
    background: #282B2E;
    text-align: left;
    font-size: 16px;
    position: fixed;
    top: 0px;
    margin-left: 200px;
    width: 70%;
    z-index: 999;
}


#menu ul {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
   
}

#menu ul li {
    position: relative;
    display: inline-block;
    margin: 0;
}

#menu ul li a {
    display: inline-block;
    /*
     *padding: 0 2%;
    margin-right: -5px;
    
    height: 30px;
    line-height: 36px;*/
    font-family: roboto, sans-serif;
    border-left: 0px solid #fff;
    /*width: calc(100% / 9 - 28px);*/
    padding: 5px 18px;
}

#menu ul li:first-child a {
    border-left: none;
}

#menu ul li a:hover {
    background: #2E3539;
    color: #fff;
}

#menu ul li a.active {
    background: none;
    color: #fff;
}

#index #nav_index a,#torrents #nav_torrents a,#collage #nav_collages a,#requests #nav_requests a, #scriptspre #nav_pre a,#forums #nav_forums a,#chat #nav_irc a,#top10 #nav_top10 a,#rules #nav_rules a,#wiki #nav_wiki a,#staff #nav_staff a,#log #nav_log a,#christmastorrents #nav_christmastorrents a {
    color: #fff;
    /*border-bottom: 3px solid #47AE73;*/
    background: #2E3539;
}

#nav_index {
    display: none !important;
}

#quickpost {
    min-width: 95%;
    margin: 0 auto;
}

.filter_torrents h3 {
    font-size: 1em;
}