@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://dl.dropbox.com/s/4w00ydz4c6131r3/categories.css');
@import url('https://dl.dropbox.com/s/59yy4ydvnm2oisj/font-awesome.css');

html {
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    line-height: 1.5;
}

body {
    width: 100%;
    background: #373737;
    color: #b4b4b4;
    font-family: roboto, sans-serif;
}


#wrapper {
    margin: 0px auto;
    width: 100%;
}


* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    border: none;
}

a:hover {
    text-decoration: none;
    transition: all 0.1s ease-in-out 0.1s;
}

#alerts {
    
    top: 80px;
    margin: 0 auto 0;
    /*width: 50%;
    text-align: center;*/
    padding: 9px;
    display: block;
    margin-left: 200px;
}

.alertbar, .alertbar.blend  {
    display: inline-block;
    width: auto;
    padding: 6px;
    margin: 0px auto;
    text-align: center;
}

.alertbar:hover a{
    text-decoration: none;
}



b, strong {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

table.forum_list strong {
    font-family: roboto ,sans-serif;
}

.error_message,.save_message {
    position: relative;
    display: table;
    height: 24px;
    width: auto;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
    line-height: 24px;
    border-radius: .145em;
    margin-bottom: 20px;
}



.info {
    /*font-size: 1em;*/
}


span.size1 {
    font-size: 0.75em;
}

span.size2 {
    font-size: 1em;
}

span.size3 {
    font-size: 1.25em;
}

span.size4 {
    font-size: 1.5em;
}

span.size5 {
    font-size: 1.75em;
}

span.size6 {
    font-size: 2em;
}

span.size7 {
    font-size: 2.25em;
}

span.size8 {
    font-size: 2.5em;
}

span.size9 {
    font-size: 2.75em;
}

span.size10 {
    font-size: 3em;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  /*font-size: 3.2rem;*/
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
  }

h2 {
  /*font-size: 2.56rem;*/
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
  }

h3 {
  /*font-size: 1.92rem;*/
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
  font-weight: 300;
  }

h4 {
  /*font-size: 1.28rem;*/
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
  font-weight: 400;
  }

h5 {
  /*font-size: 0.64rem;*/
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
  }

h6 {
  /*font-size: 1rem;*/
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
  }


em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }


.btn {
    padding: 4px 8px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;

}

#header {
    height: 80px;
    background: #373737;
    margin-bottom: 50px;
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    z-index: 1000;
    */
}

#logo {
    width: 190px;
    height: 80px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
}

#logo a{
    background: url('https://dl.dropbox.com/s/zdsh6s61ljvwa1u/logo2.svg') no-repeat center center #232323;
    width: 183px;
    height: 65px;
    margin: 0px;
    position: absolute;
}

#header a:active, #header a:focus, #logo a:hover, #logo a:active, logo a:focus, .btn:focus {
    border: none;
    outline: none;
}

blockquote {
    color: #fff;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.quotetext {
    margin-top: 10px;
}

.quotehead {
    margin-top: 10px;
    margin-left: 10px;
}

div[over] {
    max-height: 100px;
    overflow: auto !important;
}

div[over] img {
    padding: 1px;
}

#bbcodes button:hover img {
    opacity: .8;
}

.box {
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.box.pad {
    padding: 10px !important;
}
.head, .colhead, .colhead_dark {
    margin: 0px;
    font-size: 1em;
}

tr.colhead td {
    padding: 5px;
}

.colhead > td:nth-child(2) {
    text-align: left;
}

.forum_title h3 {
    font-size: 2em;
}

.forum_description {
    font-size: 12px;
}

table.forum_post {
    margin: 20px 0px;
    border: none;
}

table.forum_post tr.colhead_dark a {
}

table.forum_unread {
    outline: 1px solid #ff5f57 !important;
}

td.avatar {
    width: 150px;
    padding: 8px;
}

table.forum_post {
    outline: 0px solid #2b3443;
}

table.forum_post td.body {
    max-width: 690px;
    padding: 10px 12px 30px;
    overflow: hidden;
    word-wrap: break-word;
    color: #fff;

}


table.forum_post {
    border-radius: 0;
}


th.posts,th.topics {
    text-align: center;
    width: 80px;
}
td.posts,td.topics {
    text-align: center;
    width: 8%;
}

td.author {
    text-align: center;
}

.last-post {
    text-align: left;
    padding-left: 9px;
}
.forum {
    width: 245px;
    text-align: left;
    white-space: nowrap;
}

.spoiler {
    margin: 10px;
}

.spoilercontents {
    padding: 10px;
}

.extrainfo {
    margin: 10px;
    padding: 10px;
    border: 1px solid #666;
}

.unread-post-count {
    color: #EF4836;
}


p {
    margin: 10px 5px;
}

li {
    margin: 5px 15px;
}

input {
    padding: 2px 3px;
}

textarea {
    padding: 2px 3px;
}

img {
    border: none;
}

input[type="button"],input[type="submit"] {
    padding: 4pt 6pt;
    font-family: roboto,sans-serif;
    cursor:pointer;
    
}

input[type="button"]:hover,input[type="submit"]:hover {
    top: 3px;
}

input[type="text"],select {
    padding: 2px 3px;
    line-height: 9pt;
    border-radius: 0px;
    -webkit-appearance:none;
    height:30px;
}

textarea {
    margin: 0 0 10px 0;

}

#filter-table .inputtext {
    padding: 5px 12px;
    margin-top: 0px;
    border: 0px solid #ff5f57;
}

form textarea, form input {
    max-width: 780px;
}

#content, #site_debug {
    margin: 75px auto auto;
    background: #373737;
    padding: 20px 20px 20px 220px;
    display: table;

}

.main_column {
    width: 70%;
}
.main_column .box {
    margin: 0px 0px 30px;
}

#torrents .main_column {
    /*width: 100%;*/
}



.sidebar {
    float: right;
    width: 30%;
    height: 100%;

}

.sidebar .box {
    margin: 0px 10px 30px;
}

.body {
    padding: 10px;
}

.pad {
    padding: 4px;
}


.pad h3,.pad h4,.padbox h3,.padbox h4 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.noborder {
    border: none;
}

ul.nobullet {
    list-style-type: none;
}

.vertical_space {
    margin-bottom: 20px;
}

.linkbox {
    text-align: left;
    padding: 3px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.min_padding {
    padding: 0px;
    margin: 0px 0px;
}

p.min_padding {
    margin: 2px 0px;
}

.hidden {
    display: none;
}

.hidden {
    position: absolute;
    left: -10000px;
}

input.hidden {
    position: absolute;
    display: none;
}
.thin {
    width: 100%;
    margin: 0px auto;
}

.thin > h2 {
    font-size: 1.7em;
}
 
ul.thin {
    margin: 0px 0px 0px 25px;
    padding: 0px;
}

ul.thin li {
    margin: 0px 0px;
    padding: 0px;
}

.curtain {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: .80;
}

.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 0px;
    z-index: 1002;
    overflow: auto;
}

.submit_container {
    clear: both;
    text-align: right;
}

ul .invitetree {
    margin: 0px 0px 0px 25px;
}

.invitetree li {
    list-style: none;
    margin: 10px 2px;
}

ul.stats li {
    padding: 0px 0px 1px 0px;
}

ul.poll li {    padding: 2px 0px 2px 10px;
    margin: 0px;
    clear: left;
}

ul.poll li.graph {
    height: 5px;
    padding: 0px;
    margin: 5px 0;
    border-radius: 0px;
}

.right_poll,.left_poll,.center_poll {
    float: left;
    width: 2px;
    height: 5px;
    padding: 0;
    margin: 0;
}

.left_poll {
    border-right: none;
    border-radius: 0;
}

.center_poll {
    border-left: none;
    border-right: none;
}

.right_poll {
    border-left: none;
    border-radius: 0;
}



#searchbars {
    margin-left: 200px;
    /*position: absolute;
    top: 230px;
    width: 871px;
    text-align: center;
    padding: 4px 0px;
    
    margin-right: auto;
    left: 0;
    right: 0;
    display: none;*/
    
}

#searchbars input {
    position: relative;
    padding: 2px 2px 2px 4px;
    font-size: 0.9em;
}

#searchbars ul {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#searchbars ul li {
    display: inline;
    margin: 0px 1px;
    list-style: none;
    position: relative;
}

#searchbars ul li ul {
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 1000;
    width: 12em;
    margin-top: 12px;
}

#searchbars ul li ul li {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
}



#searchbars ul li form {
    display: inline;
}

td {
    padding: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 6px;
}

tr td span strong a {
	font-weight: normal;
}
.thead {
    font-size: 1.077em;
    padding: 9px;
    white-space: nowrap;
}

#torrent_table {
    width: 100%;
    margin: 0 auto;
}

#torrent_table table tr td {
    vertical-align: middle;
    text-align: center;
}

tr.torrent td:nth-child(n+5), table.forum_index tbody tr td:nth-child(n+3), .colhead td:nth-child(n+3),.colhead td:nth-child(n+4), table.forum_list tr td:nth-child(n+3){
    text-align: center;
}


.forum_index h4 {
    font-size: 12pt;
}

.show_torrents_link {
    border: none;
    width: 28px;
    height: 28px;
    display: block;
}

#searchfilter{
    float: right;
}

.filter_torrents h3 {
    margin-bottom: 12px;
    color: transparent;
}

.filter_torrents table {
    margin-bottom: 10px;
}

.filter_torrents table:last-child {
    margin-bottom: 0;
}

.filter_torrents .box {
    position: relative;
    z-index: 10;
    border-color: #999;
}

.filter_torrents .submit {
    text-align: right;
    padding-top: 5px;
}

.cat_list tr td {
    border: none;
}

.cat_list a {
}



.torrent_table tr {
    vertical-align: middle;
}

.torrent_td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 550px;
    padding-left: 1em;
    text-align: left;
}



.torrent_table div.tags {
    font-weight: normal;
}

.torrent_table tr .center {
    vertical-align: middle;
    text-align: center;
}

.torrent span.torrent_handle_links {
    font-weight: normal;
    float: right;
    display: block;
    top: 7px;
    padding: 2px;
}

.torrent_handle_links {
 text-align: center;
}

.torrent span.torrent_name_link {

    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.torrent_extra_info, .torrent_new {
    vertical-align: top;

    padding: 1px 3px;
}



.size {
    text-align: center;
}

.size .count_files {
    font-weight: normal;
    display: none;
    line-height: 10px !important;
    font-size: 10px;
}


.nobr {
    white-space: nowrap;
}

.tags, .browsepretime {
    padding: 0px 0 0 0;
    font-size: 12px;
    font-style: italic;
    font-family: roboto,sans-serif;
    margin: 0;
}


.tags a:hover {
    text-decoration: underline;
}


#cat-selector ul {
    width: 100%;
}

#cat-selector ul li {
    display: inline;
    width: 52em;
    height: 1em;
    float: left;
}

#torrentpreset {

    margin: 40px 0px 0px;
    text-align: left;
}

#torrentpreset ul li {
    display: inline-block;
    list-style: none;
    height: 23px;
    float: left;
    margin: 0px;
}

#torrentpreset ul li a {
    padding: 0.6em 1.2em;
    border: solid 0px transparent;
    border-bottom: none;
    border-radius: 0;
}

#torrentpreset ul li a:hover {
    text-decoration: none;
}

#torrentpreset ul li.torrentpresetactive a {
    text-decoration: none;
    padding: 4px 9px;
}




#inbox form > table {
    margin: 10px 0;
}

#staff .box.pad {
    margin: 10px 0;
    
}

#staff .box.pad h3{
    margin: 10px 0px;
}

#staff div.box:nth-child(2) > h3:nth-child(n+1) {
	font-size: 1em;
	font-weight: normal;
}

.colhead_dark:first-child + tr td {
    border-top: none;
}

.colhead_dark td {
    line-height: 2em;
}

#top10 td.center.cats_col {
    width: 50px;
}
 

.linkbox {

    margin: 30px 0;
}

.linkbox strong {
    padding: 5px 10px;
}

.linkbox a strong {
    border-radius: 0px;
}

.linkbox a:hover {
    text-decoration: none;
}


.read, .unread, .read_locked, .unread_locked, .unread_sticky, .read_sticky, .read_locked_sticky, .unread_locked_sticky {
    width: 36px;
    height: 36px;
    display: block;
    margin: 3px;
    padding: 0px;
    border-radius: 0.2em;
}

.last_post {width: 15px; height: 15px; background: url('https://dl.dropbox.com/s/d1xyseowqsx651x/onyx_last_read.svg') no-repeat center center; margin-left: 5px;}
.last_read {width: 15px; height: 15px; background: url('https://dl.dropbox.com/s/d1xyseowqsx651x/onyx_last_read.svg') no-repeat center center; margin: 3px 0 0 5px;}




.last_read a, .last_post a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover, .last_post a:hover { border: none; }


.unread_locked_sticky{background:#ff5f57;
    content: "\f015";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 9px auto auto 11px;
    }

.read_locked_sticky{background:#e9eef2; }
.unread_sticky{background:#ff5f57;}
.read_sticky{background: #e9eef2;}
.unread_locked{background:#ff5f57;}
.read_locked{background: #e9eef2;}
.unread{background: #ff5f57;}
.read{background: #e9eef2;}

td.unread_locked_sticky:before {background: #ff5f57;
    content:"\f249";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 9px auto auto 11px;
    color: #424242;
    }

td.read_locked_sticky:before {background: #e9eef2;
    content:"\f249";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 9px auto auto 11px;
    color: #424242;
    }
td.unread_sticky:before {background: #ff5f57;
    content: "\f249";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 9px auto auto 11px;
    color: #424242;
    }
td.read_sticky:before {background: #e9eef2;
    content: "\f249";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 8px auto auto 12px;
    color: #424242;
    }
td.unread_locked:before {background: #ff5f57;
    content:"\f023";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 9px auto auto 14px;
    color: #424242;
    }
td.read_locked:before {background: #e9eef2;
    content:"\f023";
    position: absolute;
    font-family: Fontawesome;
    text-align: center;
    margin: 9px auto auto 14px;
    color: #424242;
    }

/* Highlighted torrents and unread PMs */

.torrent_highlight td, .unreadpm td {
    height: 50px;
}

.label {
    white-space: nowrap;
}

#supportticket .label {
    white-space: normal;
}

#request_table td:nth-child(9){
    display:none;
}

#request_table td:nth-child(3){
    display:none;
}

#request_table td:nth-child(4){
    display:none;
}

#request_table td:nth-child(5) {
    text-align: center;
}

#request_table td:nth-child(7) {
    display: none;
}

#request_table {
   width: 100%;
    margin: 0 auto;
    
}

#request_table tr td {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 365px;
padding-left: 8px;
text-align: left;
}

#pretable tr td {
    max-width:400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



td.center.cats_col {
    padding: 5px;
    width: 50px;
}


#forums .center {
    padding-bottom:30px;
}

.sticky_post {
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;

    
}


.unread_post_label, a.post_id {
	display: inline-block;
	min-width: 10px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	padding: 0px 6px;
	margin-right: 10px;
        float: left;
}

.user_title {
    word-wrap: break-word;
}
.user_title img {
    vertical-align: middle;
}

#preview {
    padding-bottom: 10px;
}

#friends .left input:nth-child(odd) {
    width:80px;
}


.50 {
    width: 50%;
    float: left;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

strong.torrent_label.tl_notice {
    background: #ff5f57;
    padding: 1px 3px;
    border-radius: .145em;
    color: #fff;
    font-weight: 400;
}
strong.torrent_label.tl_free {
    background: #318e39;
    padding: 1px 3px;
    border-radius: .145em;
    color: #fff;
    font-weight: 400;
}

#filter-table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    display: none;
}

.last_poster {
    float: left !important;;
    clear: both;
}

.last_poster .time {
    display: block;
    font-size: small;
}

#donatebutton {
    width: 160px !important;
    position: fixed;
    top: 65px;
    background: #282b2e;
    z-index: 1001;
    height: 50px;
    padding-left: 10px;
}

#donatelink {
    display: none;
}

#donateimg {
    text-indent: 0 !important;
    background-image: none !important;
    height: 0px!important;
    width: 100px !important;
    white-space: normal;
    display: block;
}

#donateprogress_bar {
    background-color: #2E3539 !important;
    width: 160px !important;
    height: 10px !important;
    border:0px solid #ff5f57 !important;
    color: #fff !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

#donateprogress_value {
    background-color: #ff5f57 !important;
    height: 10px !important;
}

#donateprogress_percent {
    color: #FFF !important;
}
#donateprogress_percent {
    position: absolute !important;
    top: 32px !important;
    text-align: right !important;
    right: 4px !important;
    font-size: 0.8em;
}



#userinfo {
    background-color: #232323;
    left: 0px;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 1000;
    height: calc(100%);
    padding: 80px 0 0 0;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    overflow-y: auto;
}

/*
 *
 *#userinfo:before {
    font-family: Fontawesome;
    font-size: 100px;
    padding-left: 40px;
    content: "\f2bd";
    color: #424242;
}
*
*
*/

#userinfo ul {
    margin: 0;
    padding: 0px;
}

#userinfo li {
    list-style-type: none;
    margin: 0;
    padding: 5px 15px
}

#torrents .group_torrent > td:nth-child(n+3) {
    text-align:center;
}

.group_torrent > td > span {
    background: none;
    margin: 0 10px;
    padding: 2px 6px;
    border-radius: .145em;
    border: 0px solid #38ab75;
    color: transparent;
}

a {
    color: #e4e4e4;
}

a:hover {
    color: #ff5f57;
}

#alerts {
    color: #FFF;
}

.alertbar, .alertbar.blend  {
    border: 0 solid #ff5f57;
    background: #ff5f57;
    text-align: center;
    color: #fff;
    border-radius: .145em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    /*
     *-webkit-transition:  all 0.2s ease-in-out 0.2s;
    -moz-transition:  all 0.2s ease-in-out 0.2s;
    -o-transition:  all 0.2s ease-in-out 0.2s;
    -ms-transition:  all 0.2s ease-in-out 0.2s;
    transition:  all 0.2s ease-in-out 0.2s;
    */
    
}

.alertbar:hover, .alertbar.blend:hover {
    background: #ff5f57;
    /*
     *border: 1px solid #ff5f57;
    -webkit-transition:  all 0.2s ease-in-out 0.2s;
    -moz-transition:  all 0.2s ease-in-out 0.2s;
    -o-transition:  all 0.2s ease-in-out 0.2s;
    -ms-transition:  all 0.2s ease-in-out 0.2s;
    transition:  all 0.2s ease-in-out 0.2s;
    opacity: 1;
    *
    */
}

.alertbar a {
    color: #fff;
}

.alertbar a:hover {
    color: #fff;
}

.alertbar {
    color: #fff;
    font-size: 90%;
    font-family: roboto, sans-serif;
    max-width: 300px;
    border-radius: 0.145em;
    background: #ff5f57;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    line-height: 1.5;
    /*opacity: 0.6;*/
}

.error_message {
    background-color: #ee524f;
    border: 0px solid #ee524f;
    color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.save_message {
    background-color: #ffed57;
    color: #000;
    border: 0px solid #ffed57;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.invalid, .warning, .error {
}

.info {
    color: #2196f3;
}

.elem_error {
    border: 3px solid #ee524f;
}


.btn {
    background: #3E4649;
}

blockquote {
    color: #fff;
    border-left: 1px solid #ff5f57;
    background: none;
}

blockquote a, blockquote.quotetext a {
    color: #ff5f57;
    font-weight: bold;
}

.quotehead strong {
    color: #ff5f57;
}


#bbcodes button {
    background-color: #3E4649;
    color: #555;
    border: 0px solid #3E4649;
}


#bbcodes button:hover {
    background-color: #F9F9F9;
    color: #555;
    border: 0px solid #eee;
}

.pressed {
    background-color: #ddd !important;
    border: 0px solid #aaa !important;
}

.whutbbcon {
    color: #d06620;
}

.box {
    background: #282B2E;
    border: 0px solid #888;
}

.head, .colhead, .colhead_dark {
    background: #424242;
    border-bottom: 0px solid #ff5f57;
    
}

div.head, .head strong,.page-section-header {
    color: #fff;
    line-height: 48px;
    font-weight: 300;
    background: none;
}



table.forum_unread td.body {
    background: #3E4649;
}

table.forum_post {
    outline: 0px solid #2b3443;
}

table.forum_post td.body {
    background-color: #282b2e; /*2E3539*/
    color: #fff;
    border-left: 0px solid #ff5f57;
}


td.body a {
    color: #ff5f57;
}

table.forum_unread {
    outline: 1px solid #ff5f57 !important;
}

.spoilercontents {
    border: 0px dotted #ff5f57;
    background: #363B3E;
}

.extrainfo {
    border: 0px solid #666;
}

.unread-post-count {
    color: #EF4836;
}

input {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border:  /*1*/ 0px solid transparent;
    border: 0px solid #ff5f57;
}

input[type="button"],input[type="submit"] {
    display: inline-block;
    padding: 5px 12px;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    /*border: 0px solid transparent;*/
    border-radius: .145em;
    background-color: #ff5f57;
    border: 1px solid #ff5f57;
    color: #fff;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    margin: 6px;
    margin-right: 8px;
}
input[type="button"]:hover,input[type="submit"]:hover {
    top: 3px;
    background: #ff5f57;
        -webkit-transition:  all 0.2s ease-in-out 0.2s;
    -moz-transition:  all 0.2s ease-in-out 0.2s;
    -o-transition:  all 0.2s ease-in-out 0.2s;
    -ms-transition:  all 0.2s ease-in-out 0.2s;
    transition:  all 0.2s ease-in-out 0.2s;
}

input[type="text"],select {
    display: inline-block;
    padding: 4px 12px;
    margin: 6px;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border-radius: .145em;
    border: /*1*/0px solid #ff5f57;
    
}

textarea {
    border: /*1*/0px solid #ff5f57;
    
}

form textarea, form input {
    border-radius: .145em;
}

textarea {
    overflow-y: hidden;
    padding: 1.6rem 0px;
    resize: none;
    min-height: 5rem;
    border-bottom: 0px solid #ff5f57 ;
    outline: medium none;
    height: 10rem;
    width: 100%;
    font-size: 1rem;
    margin: 0px 0px 15px;
    padding: 1em;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
    overflow: auto;
}


img {
    border: none;
}

.curtain {
    background-color: #363B3E;
}

ul.poll li.graph {
    background-color: #3E4649;
    border: 0px solid #999;
}

.right_poll,.left_poll,.center_poll {
    background-color: #ff5f57;
    border: 0px solid #ff5f57;
}

.r00 { color: #d93636; }
.r01 { color: #d94136; }
.r02 { color: #d94136; }
.r03 { color: #d94f36; }
.r04 { color: #d96736; }
.r05 { color: #d97236; }
.r06 { color: #d97236; }
.r07 { color: #d97f36; }
.r08 { color: #d99836; }
.r09 { color: #d9a336; }
.r10 { color: #82d936; }
.r20 { color: #6fd936; }
.r50 { color: #67d936; }
.r99 { color: #d95736; }

#searchbars {
    display: none;
}

#searchbars input {
    border: 0px solid #ff5f57;
    background-color: #424242;
    color: #fff;
}

#searchbars ul li ul {
    background-color: #999;
}


#searchbars ul li ul li.highlight {
    background: #D7D7D7;
}

table {
    outline:0;
    background-color: #373737;
}

table tr td {
    border-top: 0px solid #E6E7E8;
    /*max-width: 450px;*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    /*-ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;    */
}

td.big_info {
    text-align: left;
}

.thead {
    background: #2e3539;
    border-bottom: 0px solid #ff5f57;
}

tr.rowb, tr.rowa {
	border-bottom: 0px solid #2f2f2f;
}

.cat_list .cat_disabled {
    color: #888;
    opacity: 0;
}

.torrent_table tr.torrent {
    border-bottom: 0px solid #2f2f2f;
}

.torrent_table tr.torrent_highlight {
    background-color: #3E4649;
}

#torrent_table {
    text-align: center;
}

.torrent span.torrent_name_link {
    color: #fff;
}

.torrent_extra_info, .torrent_new {
    color: #FFF;
}

.torrent span.torrent_name_link:hover {
    color: #ff5f57;
}

.tags, .browsepretime {
    color: #fff;
}

.tags a {
    color: #fff;
}

.torrent_new font {
    color: #fff;
    vertical-align: middle;
}


.torrent_new {
    float: left;
    clear: right;
    margin-top: -6px;
    display: block;
    color: transparent;
    background: #38ab75;
    font-size: 12px;
}

.torrent_extra_info {
    float: left;
    clear: both;
    margin-top: -6px;
}

#torrentpreset {
    color: #fff;
    
}

#torrentpreset ul li a {
    color: #fff;
    background: none /*#3E4649*/;
}

#torrentpreset ul li a:hover {
    color: #fff;
    background:none;
    border-bottom: 3px solid #ff5f57;
}

#torrentpreset ul li.torrentpresetactive a {
    background: none;
    color: #fff;
    border-bottom: 3px solid #ff5f57;
}

#torrentpreset ul li a {
    color: #fff;
    border: 0px solid #ff5f57;
    border-color: #ff5f57;
}

#inbox .head a {
    color: #fff;
}

.gototop_post_link {
    text-decoration: none;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;	
}

.gototop_post_link {
    background-image: url(images/go_top.svg);
    background-repeat: no-repeat;
    background-color: #ff5f57;
    color: rgba(0,0,0,0.001) !important;
    color: transparent;
}

.pad a {
}

.pad a:hover {
}


 /*Pager-Start*/
.linkbox {
    color: transparent;

}

.linkbox strong {
    color: #fff;
    background: #ff5f57;
    border: 0px solid #ff5f57;
    border-radius: .145em;
     /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
}

.linkbox strong:hover {
    color: #fff;
    background: #ff5f57;
    border: 0px solid #ff5f57;
    border-radius: .145em;
    /*
     *-webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;
    */
}


.linkbox a strong {
    color: #fff;
    background: #373737;
    border-radius: .245em;
    /*
     *-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);}
    */

/*Pager-End*/
/*.cat_list td {
    background: none repeat scroll 0% 0% #3E4649;
}*/
/* Donation-page styles */


.tier {
    border: 0px solid #ff5f57;
    background: #363B3E;
}


/* Highlighted torrents and unread PMs */

.torrent_highlight td{
    background-color: #3E4649;
    border-color: #3E4649;
}

.sticky_post {
    background: #3E4649;
}

.runtime, .genres {
    color: #fff;
}

#footer {
    padding-top: 40px;
    text-align: center;
}

#footer p {
    margin: 0 20px 0 0;
    padding: 0 0 30px 0;
    text-align: center;
}

#footer p strong {
    padding-left: 3px;
    color: #ff5f57;
}

#footer, #disclaimer_container {
    display: none;
}

#site_debug, #footer {
    margin: 40px auto auto;
    
    padding: 20px 20px 20px 250px;
}









}






.last_poster a {
    color: #ff5f57;
}

a:hover {
    position: relative;
}

.torrent span.torrent_handle_links {
    background: #3E4649;
    width: 65px;
    border-radius: .145em;
    overflow: hidden;
}
.torrent_handle_links {
    color: transparent;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#rss_link {
    -ms-word-break: break-all;
     word-break: break-all;

/* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

#donation-link {
    display: none;
}

#menu {
    line-height: 70px;
    /*margin: 0px 200px;*/
    background: #232323;
    text-align: left;
    font-size: 16px;
    top: 0px;
    margin-left: 200px;
    
    z-index: 999;
}


#menu ul {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    margin-left: 20px;
   
}

#menu ul li {
    position: relative;
    display: inline-block;
    margin: 0;
}

#menu ul li a {
    
    /*
     *padding: 0 2%;
    margin-right: -5px;
    
    height: 30px;
    line-height: 36px;*/
    font-family: roboto, sans-serif;
    border-left: 0px solid #fff;
    /*width: calc(100% / 9 - 28px);*/
    padding: 5px 18px;
}

#menu ul li:first-child a {
    border-left: none;
}

#menu ul li a:hover {
    background:none;
    color: #fff;
}

#menu ul li a.active {
    background: none;
    color: #fff;
}

#index #nav_index a,#torrents #nav_torrents a,#collage #nav_collages a,#requests #nav_requests a, #scriptspre #nav_pre a,#forums #nav_forums a,#chat #nav_irc a,#top10 #nav_top10 a,#rules #nav_rules a,#wiki #nav_wiki a,#staff #nav_staff a,#log #nav_log a {
    color: #fff;
    border-bottom: 0px solid #ff5f57;
    background: #373737;
    padding: 5px 10px;
    border-radius: .245em;
}

#nav_index > a:before {
    font-family: "FontAwesome";
    content: "\f015";
    position: relative;
    left: -3px;
}

#nav_torrents > a:before {
    font-family: "FontAwesome";
    content: "\f019";
    position: relative;
    left: -3px;
}

#nav_requests > a:before {
    font-family: "FontAwesome";
    content: "\f128";
    position: relative;
    left: -3px;
}

#nav_forums > a:before {
    font-family: "FontAwesome";
    content: "\f086";
    position: relative;
    left: -3px;
}

#nav_top10 > a:before {
    font-family: "FontAwesome";
    content: "\f080";
    position: relative;
    left: -3px;
}

#nav_wiki > a:before {
    font-family: "FontAwesome";
    content: "\f0ca";
    position: relative;
    left: -3px;
}

#nav_staff > a:before {
    font-family: "FontAwesome";
    content: "\f08a";
    position: relative;
    left: -3px;
}

#nav_seedbox > a:before {
    font-family: "FontAwesome";
    content: "\f233";
    position: relative;
    left: -3px;
}

/*#nav_index {
    display: none !important;
}*/

#quickpost {
    min-width: 100%;
    margin: 0 auto;
}

.filter_torrents h3 {
    font-size: 1em;
}

@media only screen and  (min-width:768px) {
	.thin {
	    width:750px;
            margin: 0 auto;
  }

}
@media only screen and (min-width:992px) {
	.thin {
            width:970px;
            margin: 0 auto;
	      }
    .last_poster {
            float: right !important;
            clear: none !important;
        }
        .last_poster .time {
            display: inline;
            font-size: small;
        }
}

@media only screen and (min-width:1200px) {
	.thin {
	    /* width:1170px; */
           width:1320px;
           margin: 0 auto;
	}
}

 .good {
 	font-weight: bold;
 	color: #4caf50;
 }
 
 .bad {
 	font-weight: bold;
 	color: #f44336;
 }
 
 .goodish {
 	font-weight: bold;
 	color: #a5d6a7;
 }
 
 .badish {
 	font-weight: bold;
 	color: #e57373;
 }
 .brackets {
	text-indent: 0px;
}

.votespan.brackets:before {
	content: " ";
}

.votespan.brackets:after {
	content: " ";
}

.brackets:before {
	content: "";
}

.brackets:after {
	content: "";
}

#userinfo .brackets:before, #userinfo .brackets:after {
	content: "";
}
#footer {
    display: none !important;
}

tr.unreadpm a {
    color: #ff5f57;
}

#content > div > div.header > h2, #content > div > div.header > h3, #content > .thin > h2, #content > .thin > h3 {
    display: none;
}

#userinfo_stats {
    display: none;
}

#userratio, #fl_tokens, #hnr_tokens {
    display: none;
}
